<h1>Error</h1>
<h2><%= error.status %></h2>
<% if (error.name) { %><h2><%= error.name %></h2><% } %>
<% if (error.message) { %><h2><%= error.message %></h2><% } %>
<% if (error.stack) { %><pre><%= error.stack %></pre><% } %>
